:root {
  --clr-violet: hsl(263, 55%, 52%);
  --clr-grayish-blue: hsl(217, 19%, 35%);
  --clr-blackish-blue: hsl(219, 29%, 14%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(0, 0%, 81%);
  --clr-grayish-blue: hsl(210, 46%, 95%);

  --ff-primary: "Barlow Semi Condensed", sans-serif;
}
